<a href="https://colab.research.google.com/github/hira140801/cpp-programs/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
#from google.colab import files
#uploaded=files.upload()

In [ ]:
#creates array of 1 dimension
p=pd.Series([12,34,56,78,23,14,15,36,37,86])
p

0    12
1    34
2    56
3    78
4    23
5    14
6    15
7    36
8    37
9    86
dtype: int64

In [ ]:
#dtype is used for modifying the datatype
p=pd.Series([12,34,56,78,23,14,15,36,37,86],dtype=float)
p

0    12.0
1    34.0
2    56.0
3    78.0
4    23.0
5    14.0
6    15.0
7    36.0
8    37.0
9    86.0
dtype: float64

In [ ]:
print(p.axes)#gives the range
print(p.shape)#gives the shape
print(p.ndim)#gives no of dimesnsions

[RangeIndex(start=0, stop=10, step=1)]
(10,)
1

In [ ]:
p=pd.Series([12,34,'a',56,78,23,14,15,36,37,86])
p

0     12
1     34
2      a
3     56
4     78
5     23
6     14
7     15
8     36
9     37
10    86
dtype: object

In [ ]:
pd.Series(['Hyderabad','Chennai','Banglore'])

0    Hyderabad
1      Chennai
2     Banglore
dtype: object

In [ ]:
#reindedxing
pd.Series(['Hyderabad','Chennai','Banglore'],index=['a','b','c'])

a    Hyderabad
b      Chennai
c     Banglore
dtype: object

In [ ]:
s=pd.Series(['Hyderabad','Chennai','Banglore'])
s.index=['a','b','c']
s

a    Hyderabad
b      Chennai
c     Banglore
dtype: object

In [ ]:
print(s[0])
print(s['a'])

Hyderabad
Hyderabad

In [ ]:
p=pd.DataFrame((34,12,23))
print(p)
print(p.shape)
print(p.axes)
print(p.dtypes)#datatypee of each column
#object is for ntype dataframe

    0
0  34
1  12
2  23
(3, 1)
[RangeIndex(start=0, stop=3, step=1), RangeIndex(start=0, stop=1, step=1)]
0    int64
dtype: object

In [ ]:
p=pd.DataFrame([34,12,23,45.5,77])
print(p)
print(p.shape)
print(p.axes)
print(p.dtypes)
print(p.ndim)

      0
0  34.0
1  12.0
2  23.0
3  45.5
4  77.0
(5, 1)
[RangeIndex(start=0, stop=5, step=1), RangeIndex(start=0, stop=1, step=1)]
0    float64
dtype: object
2

In [ ]:
p=pd.DataFrame([34,12,45.5,'apple'],[56,23.4,123,'gua'])
print(p)
print(p.shape)
print(p.axes)
print(p.dtypes)

          0
56       34
23.4     12
123    45.5
gua   apple
(4, 1)
[Index([56, 23.4, 123, 'gua'], dtype='object'), RangeIndex(start=0, stop=1, step=1)]
0    object
dtype: object

In [ ]:
#using dictionary o creae a data frame
#here keys of dictionary are the taken as labels for columns
p=pd.DataFrame({'first':[34,12,45.5,'apple'],'second':[56,23.4,123,'gua']})
print(p)
print(p.shape)
print(p.axes)
print(p.dtypes)

   first second
0     34     56
1     12   23.4
2   45.5    123
3  apple    gua
(4, 2)
[RangeIndex(start=0, stop=4, step=1), Index(['first', 'second'], dtype='object')]
first     object
second    object
dtype: object

In [ ]:
l=['grape','banana','gua','kiwi']
df=pd.DataFrame(l)
print(df)
print(df.shape)
print(df.dtypes)

        0
0   grape
1  banana
2     gua
3    kiwi
(4, 1)
0    object
dtype: object

In [ ]:
l=['grape','banana','gua','kiwi']
df=pd.DataFrame(l,columns=['fruits'])
print(df)
print(df.shape)
print(df.dtypes)

   fruits
0   grape
1  banana
2     gua
3    kiwi
(4, 1)
fruits    object
dtype: object

In [ ]:
data=[['grape','black'],['banana','yellow'],['apple','red']]
df=pd.DataFrame(data)
print(df)
print(df.shape)

        0       1
0   grape   black
1  banana  yellow
2   apple     red
(3, 2)

In [ ]:
data=[['grape','black'],['banana','yellow'],['apple','red']]
df=pd.DataFrame(data,columns=['fruits','colors'])
print(df)
print(df.shape)

   fruits  colors
0   grape   black
1  banana  yellow
2   apple     red
(3, 2)

In [ ]:
#dataframe created from two lists of different sizes
l1=['grape','banana','apple']
l2=['black','yellow','red','green']
df=pd.DataFrame({'fruits':l1,'color':l2})
print(df)

ValueError: ignored

In [ ]:
#dataframe created from two series of differen sizes
#if series dont match in length,missing valies are filled with 
#special na/naN values
l1=pd.Series(['grape','banana','apple'])
l2=pd.Series(['black','yellow','red','green'])
df=pd.DataFrame({'fruits':l1,'color':l2})
print(df)
print(df.shape)

   fruits   color
0   grape   black
1  banana  yellow
2   apple     red
3     NaN   green
(4, 2)

Importing data into notebook

importing using read_csv()

pd.read_csv(filepath, sep=none, header=none, index_col=none)

In [ ]:
calafornia=pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv",sep=",")
print(calafornia)

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

In [ ]:
city_names=s=pd.DataFrame(['Hyderabad','Chennai','Banglore'])
city_names

           0
0  Hyderabad
1    Chennai
2   Banglore

In [ ]:
dcopy=city_names.copy()
dcopy

           0
0  Hyderabad
1    Chennai
2   Banglore

In [ ]:
dcopy.insert(1,'second','111')
print(dcopy)
print(city_names)

ValueError: ignored

In [ ]:
#shallow copy
scopy=city_names
scopy.insert(1,'second','111')
city_names.insert(2,'third','222')
print(scopy)
print(city_names)

           0 second third
0  Hyderabad    111   222
1    Chennai    111   222
2   Banglore    111   222
           0 second third
0  Hyderabad    111   222
1    Chennai    111   222
2   Banglore    111   222

In [ ]:
import io
toyotadf = pd.read_csv('/content/drive/My Drive/toyota/Toyota.csv',index_col=0)
print(toyotadf)

      Price   Age     KM FuelType  ... Automatic    CC  Doors  Weight
0     13500  23.0  46986   Diesel  ...         0  2000  three    1165
1     13750  23.0  72937   Diesel  ...         0  2000      3    1165
2     13950  24.0  41711   Diesel  ...         0  2000      3    1165
3     14950  26.0  48000   Diesel  ...         0  2000      3    1165
4     13750  30.0  38500   Diesel  ...         0  2000      3    1170
...     ...   ...    ...      ...  ...       ...   ...    ...     ...
1431   7500   NaN  20544   Petrol  ...         0  1300      3    1025
1432  10845  72.0     ??   Petrol  ...         0  1300      3    1015
1433   8500   NaN  17016   Petrol  ...         0  1300      3    1015
1434   7250  70.0     ??      NaN  ...         0  1300      3    1015
1435   6950  76.0      1   Petrol  ...         0  1600      5    1114

[1436 rows x 10 columns]

In [ ]:
dtoyota=toyotadf.copy()

attributes of data

In [ ]:
dtoyota.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435],
           dtype='int64', length=1436)

In [ ]:
dtoyota.columns

Index(['Price', 'Age', 'KM', 'FuelType', 'HP', 'MetColor', 'Automatic', 'CC',
       'Doors', 'Weight'],
      dtype='object')

In [ ]:
dtoyota.size

14360

In [ ]:
dtoyota.shape

(1436, 10)

In [ ]:
dtoyota.ndim

2

In [ ]:
dtoyota.memory_usage()

Index        11488
Price        11488
Age          11488
KM           11488
FuelType     11488
HP           11488
MetColor     11488
Automatic    11488
CC           11488
Doors        11488
Weight       11488
dtype: int64

In [ ]:
dtoyota.dtypes

Price          int64
Age          float64
KM            object
FuelType      object
HP            object
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

**indexing and selwcting dataframe** **bold text**

In [ ]:
dtoyota.head()

   Price   Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986   Diesel  90       1.0          0  2000  three    1165
1  13750  23.0  72937   Diesel  90       1.0          0  2000      3    1165
2  13950  24.0  41711   Diesel  90       NaN          0  2000      3    1165
3  14950  26.0  48000   Diesel  90       0.0          0  2000      3    1165
4  13750  30.0  38500   Diesel  90       0.0          0  2000      3    1170

In [ ]:
dtoyota.tail()

      Price   Age     KM FuelType   HP  MetColor  Automatic    CC Doors  Weight
1431   7500   NaN  20544   Petrol   86       1.0          0  1300     3    1025
1432  10845  72.0     ??   Petrol   86       0.0          0  1300     3    1015
1433   8500   NaN  17016   Petrol   86       0.0          0  1300     3    1015
1434   7250  70.0     ??      NaN   86       1.0          0  1300     3    1015
1435   6950  76.0      1   Petrol  110       0.0          0  1600     5    1114

In [ ]:
#generates random data
#by default the row sample is one
dtoyota.sample()
dtoyota.sample(5)

      Price   Age      KM FuelType  ... Automatic    CC  Doors  Weight
335   12500  35.0   32000   Petrol  ...         0  1600      3    1040
380    7000  53.0  176000   Diesel  ...         0  1900      3    1105
439   12500  49.0   77648   Petrol  ...         0  1600      4    1030
188   11950  40.0  179860   Diesel  ...         0  2000      5    1205
1286   7950  79.0   72328   Petrol  ...         0  1600      5    1075

[5 rows x 10 columns]

In [ ]:
#to acces a scalar value , use ar and iat methods
#'at' provies label based scalar lookups
dtoyota.at[4,'FuelType']

'Diesel'

In [ ]:
#iat provies integer based scalar lookups
dtoyota.iat[5,2]

'61000'

In [ ]:
dtoyota.iat[4,3]

'Diesel'

In [ ]:
#to access a grop of rows and colums aby labels, use .loc[]
dtoyota.loc[:,'FuelType']

0       Diesel
1       Diesel
2       Diesel
3       Diesel
4       Diesel
         ...
1431    Petrol
1432    Petrol
1433    Petrol
1434       NaN
1435    Petrol
Name: FuelType, Length: 1436, dtype: object

In [ ]:
dtoyota.loc[[3,4,5],['FuelType', 'HP' ,'KM']]

  FuelType  HP     KM
3   Diesel  90  48000
4   Diesel  90  38500
5   Diesel  90  61000

In [ ]:
dtoyota.iloc[1:3,1:4]

    Age     KM FuelType
1  23.0  72937   Diesel
2  24.0  41711   Diesel

In [ ]:
dtoyota.select_dtypes(exclude=[int,float])

         KM FuelType   HP  Doors
0     46986   Diesel   90  three
1     72937   Diesel   90      3
2     41711   Diesel   90      3
3     48000   Diesel   90      3
4     38500   Diesel   90      3
...     ...      ...  ...    ...
1431  20544   Petrol   86      3
1432     ??   Petrol   86      3
1433  17016   Petrol   86      3
1434     ??      NaN   86      3
1435      1   Petrol  110      5

[1436 rows x 4 columns]

In [ ]:
dtoyota.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1436 non-null   object
 3   FuelType   1336 non-null   object
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(2), int64(4), object(4)
memory usage: 163.4+ KB

In [ ]:
import numpy as np
np.unique(dtoyota['KM'])

array(['1', '10000', '100123', ..., '99865', '99971', '??'], dtype=object)

In [ ]:
print(np.unique(dtoyota['HP']))

['107' '110' '116' '192' '69' '71' '72' '73' '86' '90' '97' '98' '????']

In [ ]:
np.unique(dtoyota['Doors'])

array(['2', '3', '4', '5', 'five', 'four', 'three'], dtype=object)

In [ ]:
np.unique(dtoyota['Automatic'])

array([0, 1])

In [ ]:
print(pd.unique(dtoyota['MetColor']))

[ 1. nan  0.]

In [ ]:
print(np.unique(dtoyota['MetColor']))

[ 0.  1. nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan nan nan]

In [ ]:
#missing data
#now,import the data considering other forms of missing
#values in a dataframe
toyota = pd.read_csv('/content/drive/My Drive/toyota/Toyota.csv',index_col=0,na_values=['??','????'])
print(toyota)
dtoyota=toyota.copy()

      Price   Age       KM FuelType  ...  Automatic    CC  Doors  Weight
0     13500  23.0  46986.0   Diesel  ...          0  2000  three    1165
1     13750  23.0  72937.0   Diesel  ...          0  2000      3    1165
2     13950  24.0  41711.0   Diesel  ...          0  2000      3    1165
3     14950  26.0  48000.0   Diesel  ...          0  2000      3    1165
4     13750  30.0  38500.0   Diesel  ...          0  2000      3    1170
...     ...   ...      ...      ...  ...        ...   ...    ...     ...
1431   7500   NaN  20544.0   Petrol  ...          0  1300      3    1025
1432  10845  72.0      NaN   Petrol  ...          0  1300      3    1015
1433   8500   NaN  17016.0   Petrol  ...          0  1300      3    1015
1434   7250  70.0      NaN      NaN  ...          0  1300      3    1015
1435   6950  76.0      1.0   Petrol  ...          0  1600      5    1114

[1436 rows x 10 columns]

In [ ]:
dtoyota.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1421 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1430 non-null   float64
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(4), int64(4), object(2)
memory usage: 123.4+ KB

astype()- explicitly converts from one to anoher data type
suntax:

dataframe.astype(dtype)

In [ ]:
dtoyota['MetColor']=dtoyota['MetColor'].astype('object')
dtoyota.MetColor.dtype

dtype('O')

In [ ]:
dtoyota['Automatic']=dtoyota['Automatic'].astype('object')
dtoyota['Automatic'].dtype

dtype('O')

nbytes()-used to count the no of byes

In [ ]:
dtoyota['FuelType'].nbytes

11488

In [ ]:
dtoyota['FuelType']=dtoyota['FuelType'].astype('object')
dtoyota['FuelType'].astype('category').nbytes

1460

replace()- is used to replace a value wuth thw desired value
syntax:df.replace([to_replace,value,....])

In [ ]:
dtoyota['Doors'].replace('three',3,inplace=True)
dtoyota['Doors'].replace('four',4,inplace=True)
dtoyota['Doors'].replace('five',5,inplace=True)

In [ ]:
dtoyota['Doors']= dtoyota['Doors'].astype('int64')
dtoyota.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1421 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1430 non-null   float64
 5   MetColor   1286 non-null   object
 6   Automatic  1436 non-null   object
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   int64
 9   Weight     1436 non-null   int64
dtypes: float64(3), int64(4), object(3)
memory usage: 123.4+ KB

In [ ]:
np.unique(dtoyota['Doors'])

array([2, 3, 4, 5])

to check the count of missing values in each column df.isnull().sum() is uswed

In [ ]:
dtoyota.isnull().sum()
#also isna() can be used

Price          0
Age          100
KM            15
FuelType     100
HP             6
MetColor     150
Automatic      0
CC             0
Doors          0
Weight         0
dtype: int64

subsetting the rows that has one or more missing values

In [ ]:
missing=dtoyota[dtoyota.isnull().any(axis=1)]

In [ ]:
print(missing)

      Price   Age       KM FuelType  ...  Automatic    CC Doors  Weight
2     13950  24.0  41711.0   Diesel  ...          0  2000     3    1165
6     16900  27.0      NaN   Diesel  ...          0  2000     3    1245
7     18600  30.0  75889.0      NaN  ...          0  2000     3    1245
9     12950  23.0  71138.0   Diesel  ...          0  1900     3    1105
15    22000  28.0  18739.0   Petrol  ...          0  1800     3    1185
...     ...   ...      ...      ...  ...        ...   ...   ...     ...
1428   8450  72.0      NaN   Petrol  ...          0  1300     3    1015
1431   7500   NaN  20544.0   Petrol  ...          0  1300     3    1025
1432  10845  72.0      NaN   Petrol  ...          0  1300     3    1015
1433   8500   NaN  17016.0   Petrol  ...          0  1300     3    1015
1434   7250  70.0      NaN      NaN  ...          0  1300     3    1015

[340 rows x 10 columns]

**approches to fill the missing values**

there are two ways:
fill the missing values by mean/median,in case of numerical value

In [ ]:
dtoyota.describe()

              Price          Age  ...        Doors      Weight
count   1436.000000  1336.000000  ...  1436.000000  1436.00000
mean   10730.824513    55.672156  ...     4.033426  1072.45961
std     3626.964585    18.589804  ...     0.952677    52.64112
min     4350.000000     1.000000  ...     2.000000  1000.00000
25%     8450.000000    43.000000  ...     3.000000  1040.00000
50%     9900.000000    60.000000  ...     4.000000  1070.00000
75%    11950.000000    70.000000  ...     5.000000  1085.00000
max    32500.000000    80.000000  ...     5.000000  1615.00000

[8 rows x 7 columns]

In [ ]:
#calculating the mean value
dtoyota['Age'].mean()

55.67215568862275

In [ ]:
#fillna is used to fill na/nan values using the specified value
dtoyota['Age'].fillna(dtoyota['Age'].mean(),inplace=True)

In [ ]:
dtoyota['KM'].fillna(dtoyota['KM'].median(),inplace=True)

In [ ]:
dtoyota['HP'].fillna(dtoyota['HP'].median(),inplace=True)

In [ ]:
print(dtoyota)

      Price        Age       KM FuelType  ...  Automatic    CC Doors  Weight
0     13500  23.000000  46986.0   Diesel  ...          0  2000     3    1165
1     13750  23.000000  72937.0   Diesel  ...          0  2000     3    1165
2     13950  24.000000  41711.0   Diesel  ...          0  2000     3    1165
3     14950  26.000000  48000.0   Diesel  ...          0  2000     3    1165
4     13750  30.000000  38500.0   Diesel  ...          0  2000     3    1170
...     ...        ...      ...      ...  ...        ...   ...   ...     ...
1431   7500  55.672156  20544.0   Petrol  ...          0  1300     3    1025
1432  10845  72.000000  63634.0   Petrol  ...          0  1300     3    1015
1433   8500  55.672156  17016.0   Petrol  ...          0  1300     3    1015
1434   7250  70.000000  63634.0      NaN  ...          0  1300     3    1015
1435   6950  76.000000      1.0   Petrol  ...          0  1600     5    1114

[1436 rows x 10 columns]

In [ ]:
dtoyota['FuelType'].value_counts()

Petrol    1177
Diesel     144
CNG         15
Name: FuelType, dtype: int64

In [ ]:
dtoyota['FuelType'].fillna(dtoyota['FuelType'].value_counts().index[0],inplace=True)

In [ ]:
dtoyota['MetColor'].mode()

In [ ]:
dtoyota['MetColor'].fillna(dtoyota['MetColor'].mode().index[0],inplace=True)

In [ ]:
dtoyota.isna().sum()

In [ ]:
toyota=toyata.apply(lambda)

In [ ]:
#import pandas as pd
#df=pd.read_csv('/content/drive/My Drive/toyota/Toyota.csv')
#print(df)